@import "tailwindcss";

* {
  font-family: "Merriweather", serif;
  font-style: normal;

}

.meal_anime {
  animation: meal_anime 1s infinite alternate ease-in-out;
}

@keyframes meal_anime {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(8px);
  }
}

.crt_scroll {
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

.red_boxsh {
  box-shadow: .2px .2px 5px 0px red;
}

.chef {
  animation: chef 1s ease-in-out infinite alternate;
}

@keyframes chef {
  from {
    transform: translateX(-3px);
  }

  to {
    transform: translateX(2px);
  }
}

.chef2 {
  animation: chef2 1s ease-in-out infinite alternate;
}

@keyframes chef2 {
  from {
    transform: translateX(5px);
  }

  to {
    transform: translateX(0px);
  }
}

.up_down {
  animation: up_down 1s infinite alternate ease-in-out;
}

@keyframes up_down {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(5px);
  }
}

.up_down2 {
  animation: up_down2 1s infinite alternate ease-in-out;
}

@keyframes up_down2 {
  from {
    transform: translateY(5px);
  }

  to {
    transform: translateY(0px);
  }
}

.blackboxsh {
  box-shadow: .2px .2px 10px 0px black;
}

.rot {
  animation: rot infinite 50s linear;
}

@keyframes rot {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg)
  }
}

.opt_div:nth-child(1) {
  top: 25%;
  left: -6%;
}

.opt_div:nth-child(2) {
  top: 47%;
  left: -9%;
}

.opt_div:nth-child(3) {
  top: 68%;
  left: -2%;
}

.opt_div:nth-child(4) {
  top: 85%;
  left: 13%;
}

.grey_sh {
  box-shadow: .1px .1px 6px 1px gray;
}

.div {
  transition: all 0.34s linear;
}

.wt {
  text-shadow: .1px .1px 1px white;
}

.ty {
  text-shadow: .1px .1px 2px yellow;
}

.tt {
  text-shadow: .1px .1px 2px black;
}

.rt {
  text-shadow: .1px .1px 2px red;
}

.dotanime {
  animation: dotanime 1s infinite;
}

@keyframes dotanime {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(2.5);
    opacity: 0;
  }
}

.load {
  animation: load 3s forwards ease-in-out;
}

@keyframes load {
  0% {
    transform: scale(2) translate(0, 0);
  }

  70% {
    transform: scale(1) translate(0, 0);
  }

  100% {
    transform: scale(1) translate(-10%, 0);
  }
}

.text_anime {
  color: red;
  opacity: 0;
  text-shadow: .1px .1px 2px red;
  animation: text_up 3s forwards ease-in;
}

@keyframes text_up {
  0% {
    transform: translate(-100px, -50px);
    opacity: 0;
  }

  50% {
    transform: translate(-100px, -50px);
    opacity: 0;
  }

  70% {
    transform: translate(-100px, 0px);
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translate(-50px, 0);
  }
}

.text_anime2 {
  color: black;
  text-shadow: .1px .1px 2px black;
  animation: text_down 3s forwards ease-in;
  opacity: 0;
}

@keyframes text_down {
  0% {
    transform: translate(-100px, 50px);
    opacity: 0;
  }

  50% {
    transform: translate(-100px, 50px);
    opacity: 0;
  }

  70% {
    transform: translate(-100px, 0px);
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translate(-50px, 0);
  }
}

.delay1 {
  animation-delay: .1s;
}

.delay2 {
  animation-delay: .2s;
}

.delay3 {
  animation-delay: .3s;
}

.delay4 {
  animation-delay: .4s;
}

.delay5 {
  animation-delay: .5s;
}

.delay6 {
  animation-delay: .6s;
}

.delay7 {
  animation-delay: .7s;
}

.delay8 {
  animation-delay: .8s;
}

.delay9 {
  animation-delay: .9s;
}




@media screen and (max-width:1279px) {
  .opt_div:nth-child(1) {
    top: 11%;
    left: -1%;
  }

  .opt_div:nth-child(2) {
    top: 31%;
    left: -10%;
  }

  .opt_div:nth-child(3) {
    top: 53%;
    left: -9.8%;
  }

  .opt_div:nth-child(4) {
    top: 72%;
    left: -2%;
  }

  .dish {
    transform: scale(.8);
  }
}

@media screen and (max-width:1146px) {
  .dish {
    right: -33%;
  }
}

@media screen and (max-width:639px) {
  .opt_div-0 {
    bottom: 5%;
    left: 1%;
  }

  .opt_div-1 {
    bottom: -9%;
    left: 25%;
  }

  .opt_div-2 {
    bottom: -9%;
    left: 55%;
  }

  .opt_div-3 {
    bottom: 5%;
    right: 2%;
  }

}

@media screen and (max-width:496px) {
  .dish2 {
    width: 350px;
    height: 350px;

  }

  .cont {
    width: 95%;
  }

  .opt_div-0 {
    width: 60px;
    height: 60px;
  }

  .opt_div-1 {
    width: 60px;
    height: 60px;
  }

  .opt_div-2 {
    width: 60px;
    height: 60px;
  }

  .opt_div-3 {
    width: 60px;
    height: 60px;
  }

}

@media screen and (max-width:409px) {
  .dish2 {
    width: 280px;
    height: 280px;
  }

  .opt_div-0,
  .opt_div-1,
  .opt_div-2,
  .opt_div-3 {
    width: 45px;
    height: 45px;
  }

  .ind {
    width: 40%;
  }

  .sig {
    margin-top: 70px;
    font-size: 10px;
  }
}